<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145686049801-l7u7l53v1hno6hpa9hhuk5i48t21se2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145686049801-l7u7l53v1hno6hpa9hhuk5i48t21se2f</string>
	<key>API_KEY</key>
	<string>AIzaSyCuFKpwxJG9FB-YK4aN6ovAJivJmL5UJ8g</string>
	<key>GCM_SENDER_ID</key>
	<string>145686049801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HabitTracker.HabitTracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-68c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-68c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145686049801:ios:bebccdd87f5a8f971434d8</string>
	<key>DATABASE_URL</key>
	<string>https://habittracker-68c0c.firebaseio.com</string>
</dict>
</plist>