<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.otf
Montserrat-BoldItalic.otf      
Montserrat-ExtraLight.otf       
Montserrat-Light.otf            
Montserrat-MediumItalic.otf     
Montserrat-SemiBoldItalic.otf
Montserrat-BlackItalic.otf      
Montserrat-ExtraBold.otf        
Montserrat-ExtraLightItalic.otf 
Montserrat-LightItalic.otf      
Montserrat-Regular.otf          
Montserrat-Thin.otf
Montserrat-Bold.otf             
Montserrat-ExtraBoldItalic.otf  
Montserrat-Italic.otf           
Montserrat-Medium.otf           
Montserrat-SemiBold.otf         
Montserrat-ThinItalic.otf</string>
		<string>Montserrat-BoldItalic.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-BlackItalic.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-ExtraBoldItalic.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
